<div class="dashboard-panel">
    <!-- DASHBOARD PANEL START -->
    <div class="dashboard-panel-description">
      <div class="dashboard-icon">
          <i class="material-icons dashboard-icon">
              apps
            </i>
      </div>
      <div class="dashboard-title">
        <h1>Category Form</h1>
      </div>
    </div>
    <!-- DASHBOARD PANEL MIDDLE -->
    <!-- STATS START -->
    <div class="stats-box box2">
      <div class="stats-box-header">
        <div class="form-space">
          <h3 class="stats-box-title">FORM</h3>
        </div>
      </div>
      <div class="stats-description">
        <table>
          <tr>
            <th>Category:</th>
            <td><input type="text" formControlName="productName" style="width:225px; height:30px; padding-bottom:15px; border-radius:3px;"></td>
          </tr>        
          <br/>
          <br/>
          <tr>
                        <button class="pure-material-button-contained" style="margin-left:315px;" routerLink="/categories" routerLinkActive="active">
                Submit</button>
          </tr>
        </table>
  
  
      </div>
    </div>
    <!-- STATS END -->
  
  
    <!-- DASHBOARD PANEL END -->
  </div>
  