<!-- Grid Dashboard Layout -->
<div class="grid-container">
  <header class="header">

  </header>
  <aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item" routerLink="/dashboard" routerLinkActive="active"><h1>DASHBOARD</h1></li>
      <li class="sidenav__list-item" routerLink="/products" routerLinkActive="active"><h1>PRODUCTS</h1></li>
      <li class="sidenav__list-item" routerLink="/categories" routerLinkActive="active"><h1>CATEGORIES</h1></li>
      <li class="sidenav__list-item" routerLink="/suppliers" routerLinkActive="active"><h1>SUPPLIERS</h1></li>
    </ul>
  </aside>
  <main class="main"><router-outlet></router-outlet></main>
  <footer class="footer">
        <p>2019 AZanae Bond-Brooks | Dashboard Project</p>
  </footer>
</div>

