<!-- DASHBOARD PANEL -->
<div class="dashboard-panel">
    <div class="dashboard-panel-description">
      <div class="dashboard-icon">
          <i class="material-icons dashboard-icon">
              business
              </i>
      </div>
      <div class="dashboard-title">
        <h1>Suppliers</h1>
      </div>
    </div>

    <!-- TABLE SECTION -->
    <div class="inventory-box">
      <div class="inventory-box-header">
        <div class="form-space">
          <h3 class="inventory-box-title">MODIFY </h3>
        </div>
      </div>
      <div class="stats-description">
        <div class="stats-title">
          <h2>[GENERATED VALUE]</h2>
        </div>
      </div>
    </div>
  </div>